
@media screen and (min-width: 280.1px) and (max-width: 420px){

    section#text{
        font-size: 1.1em;     
    }
}

@media screen and (min-width: 420.1px) and (max-width: 720px) {
    section#text{
        font-size: 1.5em;     
    }

    section#text > p{
        font-size: 1.3em;
    }

    label{
        font-size: 1.2em;   
    }

    input{
        font-size: 0.8em;   
    }

    a{
        font-size: 1em;
    }

    div#create-account > p{
        font-size: 1.2em;
    }

    #commit-buttons{
        margin: 24px;
     
        flex-direction: row;
    }

    input#button{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 720.1px) and (max-width: 2160px) {
    body{
        
        background-image: url(../images/background-image.jpg);
        background-size: cover;
        background-position: center;
    }
    
    
    main{
        height: 540px;
        max-width: 720px;
        flex-direction: row;
    }
    
    section#text{
        width: 50%;
        
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-end;

        font-size: 2em; 
        text-align: center;
        
        border-radius: 8px 0px 0px 8px;
    }

    section#text > h1{
        margin: 104px 0px;
    }

    section#text > p{
        margin: 20px 0px;
    }

    fieldset#dataIn{
        width: 50%;

        justify-content: center;

        border-radius: 0px 8px 8px 0px ;
    }

    label{
        font-size: 1.3em;   
    }

    input{
        font-size: 0.7em;   
    }

    a{
        font-size: 1.2em;
    }

    div#create-account > p{
        font-size: 1.3em;
    }

    #commit-buttons{
        margin: 24px;
     
        flex-direction: row;
    }

    input#button{
        font-size: 1.3em;
    }
}