main{
    height: 100vh;
    width: 100vw;

    position: absolute;
    bottom: 0;

    background-image: url('../assets/images/monitor-frame-05.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.display{
    position: relative;
    top: 19.5%;
    left: 0;

    width: 650px;

    display: flex;
    justify-content: center;
}

iframe{
    position: relative;
    top: 0px;
    left: 18px;

    height: 95%;
    width: 100%;

    background-position: center center; 
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 12px 0px;
}

li{
    list-style: none;

    margin: 4px;
}

a{
    display: block;

    height: 48px;
    width: 48px;

    border-radius: 50%;
    box-shadow: 1px 1px 4px rgb(48, 0, 0);
    box-sizing: border-box;
}

a:hover{
    box-shadow: 1px 1px 6px rgb(192, 0, 0);
    border: 2px solid whitesmoke;
    transition: .1s;
}

.monitor{
    width: 80%;

    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: rgb(68, 68, 68);
}

.navbar{
    width: 15%;

    background-color: rgb(102, 0, 0);
}

.rito{
    background-image: url('/assets/images/riot-red-icon.jpg');
    background-position: center center;

    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
}

.lol{
    background-image: url('/assets/images/lol-icon.png');
    background-position: center center;

    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
}

.vava{
    background-image: url('/assets/images/vava-icon-pink.png');
    background-position: center center;

    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
}

.tft{
    background-image: url('/assets/images/tft-icon-3.png');
    background-position: center center;

    background-size: 48px;
    background-repeat: no-repeat;
    color: transparent;
}

.lor{
    background-image: url('/assets/images/lor-icon.png');
    background-position: center center;

    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
}

.wildrift{
    background-image: url('/assets/images/wr-icon.png');
    background-position: center center;

    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
}
