@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --text-shadow: 1px 1px 3px black;
    --ligth-text-shadow: 1px 1px 1px black;

}

body{
    background-color: rgb(255, 230, 255);
}

p{
    padding: 4px 0px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    display: none;
}
