@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --text-shadow: 1px 1px 3px black;
    --ligth-text-shadow: 1px 1px 2px black;

    --box-shadow: 1px 1px 4px black;
    --clicked-box-shadow: inset 1px 1px 3px black;

    --background-color: rgb(255, 230, 255);
    --block-color: rgb(255, 200, 255);
    --button-active: rgb(160, 110, 220);
    --item-color: rgb(180, 140, 220);
    --item-ligth-color: rgb(180, 120, 220);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var( --background-color);
}

/* HEADER */
header{
    display: flex;
}

/* MAIN */
main{
    display: flex; 
    flex-direction: column;
}

p{
    padding: 8px 0px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    display: none;
}

@media (hover: hover){
    
    li:hover{
        background-color: var(--item-color); 
        transition-duration: 0.1s;

        cursor: pointer;
    }

}

