@charset "UTF-8";


/* Mobile */
@media screen and (max-width: 511.9px){
    body{
        background: url(../images/back-phone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    main{
        padding: 8px;
    }

    h1{
        font-size: 1.5em;
    }

    img#phone{display: block;}
}

/* Tablets */
@media screen and (min-width: 512px) and (max-width: 1023.9px){
    body{
        background: url(../images/back-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    img#tablet{display: block;}
}

/* PC's */
@media screen and (min-width: 1024px) and (max-width: 1920.9px){
    body{
        background: url(../images/back-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    h1{
        font-size: 2.5em;
    }
    
    img#pc{display: block;}
}

/* TV's */
@media screen and (min-width: 1920px){
    body{
        background: url(../images/back-tv.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    h1{
        font-size: 3em;
    }
    
    img#tv{display: block;}
}

/* Impressoras */
@media print {
    h1{
        font-family: 'Courier New', Courier, monospace;
        color: black;
        text-shadow: none;
    }

    main{
        border: 2px solid black;
    }

    img#print{display: block;}
}